$bg: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$text-dark: hsl(229, 25%, 31%);
$text-score: hsl(229, 64%, 46%);
$text-header: hsl(217, 16%, 45%);
$scissors: hsl(39, 89%, 49%);
$rock: hsl(349, 71%, 52%);
$paper: hsl(230, 89%, 62%);
$lizard: hsl(261, 73%, 60%);
$spock: hsl(189, 59%, 53%);

// display
@mixin position($align: center, $justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin hover($text) {
  &::after {
    @include position;
    position: absolute;
    top: 0;
    // left: 0;
    content: "";
    width: 0;
    height: 100%;
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(37, 35, 70, 0.5);
  }
  &:hover::after {
    cursor: pointer;
    content: $text;
    width: 100%;
    transition: 0.5s;
  }
}
